@font-face {
    font-family: FiraSansEight;
    src: url('/fonts/FiraSans-Eight.otf');
}

@font-face {
  font-family: FiraSansLight;
  src: url('/fonts/FiraSans-Light.otf');
}

@font-face {
  font-family: FiraSansHair;
  src: url('/fonts/FiraSans-Hair.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font: normal 75% Fira, Helvetica, sans-serif;
    background-color: #28282b;
    overflow-y: hidden;
}

.right {
    float: right;
}

.left {
    float: left;
}

a {
    font-size: 2.5em;
    color: white;
    font-family: FiraSansLight;
    text-decoration: none;
}

h2 {
    font-size: 1.8em;
    color: white;
    font-family: FiraSansEight;
}

p {
    font-size: 1.8em;
    color: white;
    font-family: FiraSansLight;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

nav {
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    background-color: #2c2c31;
    box-shadow: 0 4px 4px -2px #161619;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    align-content: space-around;
}

.title {
    height: 100%;
    width: 50%;
    line-height: 40px;
    vertical-align: middle;
}

.search {
    height: 100%;
    vertical-align: middle;
    text-align: right;
    line-height: 40px;
    width: 50%;
}

button {
    vertical-align: middle;
    width: 0.7em;
    cursor: pointer;
    font-size: 1em;
    box-sizing: border-box;
    background: transparent;
    border: none;
    border-radius: 6px;
    outline: none;
}

input[type="text"] {
    font-family: FiraSansLight;
    text-align: right;
    color: white;
    display: inline-block;
    font-size: 1.5em;
    padding-top: 0em;
    background-color: transparent;
    border: none;
}

input[type="text"]:focus {
    outline: none;
}

.key {
    float: left;
    padding-top: 120px;
    padding-left: 20px;
    color: white;
    text-transform: uppercase;
    line-height: 30px;
}

ul li {
    list-style: none;
}

ul li a {
    font-size: 1.2em;
    color: white;
    transition: all 0.5s ease;
}

ul li a.size:hover {
    font-size: 1.4em;
}

ul li a.yellow:hover {
    color: #fde74c;
}

ul li a.orange:hover {
    color: #ff7f02;
}

ul li a.lightblue:hover {
    color: #56a5e9;
}

ul li a.blurple:hover {
    color: #503dc5;
}

ul li a.darkgreen:hover {
    color: #538e28;
}

ul li a.lightgreen:hover {
    color: #21fa73;
}

ul li a.pink:hover {
    color: #e53483;
}

ul li a.purple:hover {
    color: #985beb;
}

ul li a.red:hover {
    color: #db0000;
}

ul li a.burntorange:hover {
    color: #e55934;
}

.main-container {
    position: fixed;
    overflow: hidden;
    padding-top: 100px;
    padding-left: 10px;
}

.element {
    cursor: pointer;
    color: white;
    text-decoration: none;
    border-radius: 50%;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    line-height: 100px;
    transition: all 0.5s ease;
    opacity: 0.7;
}

.element:hover {
    opacity: 1.0;
}

.element-popover {
  z-index: -100;
  width: 0px;
  height: 0px;

  position: absolute;
  border-radius: 50%;
  opacity: 0.0;
  overflow-y: scroll;

  padding: 20px;

  transition: border-radius 0.5s ease;
  -webkit-transition: border-radius 0.5s ease;
  -webkit-transition:background 0.5s ease;
  -moz-transition:background 0.5s ease;
  -o-transition:background 0.5s ease;
  transition:background 0.5s ease;

  -webkit-box-shadow: 0px 0px 30px 8px rgba(0,0,0,0.43);
  -moz-box-shadow: 0px 0px 30px 8px rgba(0,0,0,0.43);
  box-shadow: 0px 0px 30px 8px rgba(0,0,0,0.43);
}

.element-popover p {
  display: inline;
  color: grey;
}

.element-popover p.color{
  color: white;
}

.element-popover p.title {
    font-size: 4em;
}

.element-popover a.close-link {
  font-family: FiraSansLight;
  font-size: 2em;
  text-decoration: none;
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.element-popover a:hover {
  color: deepskyblue;
}

.element-popover table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  border-collapse: collapse;
}

.element-popover table tr {
  text-align: left;
  background-color: #18181a;
  border: 1px white solid;
}

.element-popover table td {
  color: white;
  padding: 10px;
  width: 300px;
  border-right: 1px white solid;
}

.element-popover img {
  float: right;
  width: 200px;
  padding-right: 10px;
}

.element-popover.open {
  z-index: 100;
  border-radius: 10px;
  background: #18181a!important;
  opacity: 1.0;
}

.background-overlay {
  position: absolute;
  z-index: 50;
  display: none;
  width: 100%;
  height: 100vh;
}

#container {
  position: relative;
  float: right;
  padding-top: 80px;
  width: 80vw;
  height: 100vh;
}

circle {
  cursor: pointer;
}

text {
  fill: white;
  cursor: pointer;
}
